[gui]
	fontui = -family lucida -size 12 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family lucidatypewriter -size 11 -weight normal -slant roman -underline 0 -overstrike 0
[user]
        name  = ubuntu
        email = ubuntu@aws.com
[core]
        editor = emacs
# Enforce SSH
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@gitlab.com/"]
	insteadOf = https://gitlab.com/
[url "ssh://git@bitbucket.org/"]
	insteadOf = https://bitbucket.org/
